.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle {
  color: #ffff;
  font-size: 18px;
  margin-bottom: 20px;
}
.inputdiv {
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 300px;
  margin-top: 10px;
  font-size: 15px;
  padding-left: 10px;
  border: unset;
}
.textareadiv {
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  width: 300px;
  margin-top: 10px;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  border: unset;
}

.btncontainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.btn {
  width: 105px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border: unset;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.719);
  letter-spacing: 1px;
  background-color: #ffff;
}
.btn:hover {
  border: 3px solid rgba(250, 189, 109, 0.945);
}
.sentmsg {
  color: rgba(96, 238, 96, 0.829);
}

@media (max-width: 480px) {
  .formcontainer {
    width: 210px;
    height: fit-content;
  }
  .subtitle {
    font-size: 16px;
  }
  .inputdiv,
  .textareadiv {
    width: 200px;
    -webkit-border-radius: 0;
    border-radius: 0px;
  }
  .inputdiv {
    height: 30px;
  }
  .textareadiv {
    height: 50px;
  }
  .btn {
    margin-top: 0px;
    height: 30px;
    width: 80px;
    -webkit-border-radius: 0;
    border-radius: 0px;
    -webkit-padding-start: 9px;
  }
  .btn:hover {
    -webkit-padding-start: 6px;
  }
}
