.cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.infocard {
  background-color: rgba(0, 0, 0, 0.363);
  height: 550px;
  width: 50%;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.titlecontainer {
  font-size: 20px;
  color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}
.title {
  width: 110px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid rgba(109, 108, 108, 0.363);
  font-size: 15px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 2px;
}
.active {
  font-weight: bold;
  background-color: rgba(109, 108, 108, 0.363);
}
.title:hover {
  font-weight: bold;
  cursor: pointer;
}
.pickedtitle {
  color: #ffff;
  margin-top: 40px;
  font-size: 30px;
}
.infotextcontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 350px;
  width: 500px;
}
.infotext {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  height: 80%;
  width: 90%;
  color: #ffff;
  font-size: 20px;
  line-height: 35px;
}

@media (max-width: 1150px) {
  .infotextcontainer {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .infotextcontainer {
    width: 300px;
  }
  .infocard {
    height: 550px;
    width: 80%;
  }
  .infotext {
    font-size: 16px;
    line-height: 30px;
  }
  .titlecontainer {
    margin-bottom: 5px;
  }
}