.formdiv {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.formtitle {
  color: #ffff;
  font-size: 30px;
  margin-top: 0px;
}
.addForm {
  background-color: rgba(0, 0, 0, 0.363);
  padding: 50px;
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.inputs {
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 300px;
  margin-top: 10px;
  font-size: 15px;
  padding-left: 10px;
  border: unset;
}
input:focus {
  outline: none;
}
.endcontainer {
  display: flex;
  width: 100%;
  align-items: center;
}
.createAcc {
  color: #ffff;
  width: 50%;
  padding-left: 10px;
}
.createAcc:hover {
  font-weight: bold;
  color: rgba(255, 231, 199, 0.836);
  cursor: pointer;
}
.btncont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.btncontainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.btn {
  width: 105px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border: unset;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.719);
  letter-spacing: 1px;
  background-color: #ffff;
}
.btn:hover {
  border: 3px solid rgba(250, 189, 109, 0.945);
}
.credentials {
  text-align: left;
  color: rgba(250, 189, 109, 0.774);
  font-size: 15px;
  margin: 0px;
  font-style: italic;
}

@media (max-width: 1024px) {
  .addForm {
    width: 360px;
  }
}
@media (max-width: 768px) {
  .addForm {
    height: 450px;
    width: 350px;
  }
}
@media (max-width: 480px) {
  .formdiv {
    margin-top: 40px;
    width: 305px;
    align-items:flex-start;
    height: 450px;
  }
  .addForm {
    width: 205px;
    height:350px;
    margin-top:0px;
  }
  .inputs {
    width: 200px;
    height: 30px;
    -webkit-border-radius: 0;
    border-radius: 0px;
  }
  .btn {
    height: 30px;
    width:80px;
    -webkit-border-radius: 0;
    border-radius: 0px;
    -webkit-padding-start: 8px;
    text-align:center;
  }
}
