.containernav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.856);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.308);
  height: 60px;
  padding: 0px;
  width: 100%;
}
.homecont {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 60px;
  width: 30%;
}
.infobtn {
  text-align: center;
  margin: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.home,
.info {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addlogincont {
  width: 70%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;

}
.addloginul {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  padding: 0px;
}
.addlogin {
  display: flex;
  list-style-type: none;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.home:hover,
.info:hover,
.addlogin:hover {
  font-weight: bold;
  cursor:pointer;
}

.active {
  font-weight: bold;
  color: rgba(255, 231, 199, 0.836);
}
