.containernav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.856);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.308);
  height: 60px;
  padding: 0px;
  width: 100%;
  padding-left: 50px;
}

.home,
.add {
  margin-top: 0px;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-align: center;
}

.home:hover,
.add:hover {
  font-weight: bold;
  cursor: pointer;
}
.active {
  font-weight: bold;
  color: rgba(255, 231, 199, 0.836);
}

@media (max-width: 480px) {
  .containernav {
    padding-left: 0px;
  }
}
