.formcontainer {
  width: 500px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(41, 40, 40);
  font-weight: bold;
  font-size: 13px;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formselect {
  width: 100px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  margin-right: 5px;
  border: none;
  background-color: #ffffff;
}
.inputstyle {
  width: 210px;
  height: 38px;
  outline: none;
  border: none;
  background-color: #ffffff;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.formbutton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 2%;
  background-color: #ffffff;
}
.formbutton:hover {
  border: 3px solid rgba(250, 189, 109, 0.945);
}
.titlecontainer {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 60px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.856);
  font-weight: bold;
  font-size: 35px;
  animation: fadein 1s;
}
.divcardarea {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.377);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 260px;
  width: 50%;
  display: flex;
  animation: fadein 1s;
}
.cardarea {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 300px;
}
.notfoundmessage {
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 60px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.856);
  font-weight: bold;
  font-size: 40px;
}

@media (max-width: 1000px) {
  .divcardarea {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .formcontainer {
    width: 300px;
  }
  .formselect {
    width: 80px;
  }
  .inputstyle {
    width: 80px;
  }
  .formbutton {
    width: 80px;
  }
  .titlecontainer {
    width: 500px;
    height: 200px;
    line-height: 60px;
    margin-top: 30px;
    font-size: 25px;
  }
  .divcardarea {
    width: 200px;
  }
}
@media (max-width: 600px) {
  .formselect {
    width: 80px;
  }
  .inputstyle {
    width: 110px;
  }
  .formbutton {
    width: 70px;
  }
  .titlecontainer {
    width: 300px;
    height: 100px;
    line-height: 30px;
    margin-top: 30px;
    font-size: 16px;
  }
}
