.formcontainer {
  width: 500px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(41, 40, 40);
  font-weight: bold;
  font-size: 13px;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formselect {
  width: 100px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  margin-right: 5px;
  border: none;
  background-color: #ffffff;
  border-radius: 0px;
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;   
   -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */    
   -moz-border-radius: 0;  /* Firefox 1-3.6 */     
   border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}
.inputstyle {
  width: 210px;
  height: 38px;
  outline: none;
  border: none;
  background-color: #ffffff;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.formbutton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 2%;
  background-color: #ffffff;
}
.formbutton:hover {
  border: 3px solid rgba(250, 189, 109, 0.945);
}
.titlecontainer {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 60px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.856);
  font-weight: bold;
  font-size: 35px;
  animation: fadein 1s;
}
.divcardarea {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.377);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 260px;
  width: 50%;
  display: flex;
  animation: fadein 1s;
}

.cardarea {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 300px;
}
.notfoundmessage {
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 60px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.856);
  font-weight: bold;
  font-size: 40px;
}


/* @media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .formselect {
      border:1px solid red;
      border-radius: 0px;
    }
  }
} */


@media (max-width: 1000px) {
  .divcardarea {
    width: 500px;
  }
}



@media (max-width: 768px) {
  .formcontainer {
    width: 400px;
  }
  .formselect {
    width: 90px;
    margin-right: 3px;
    padding-left: 4px;
  }
  .inputstyle {
    width: 110px;
    padding-right: 20px;
    margin-right: 3px;
  }
  .formbutton {
    width: 80px;
  }
  .titlecontainer {
    width: 300px;
    height: 100px;
    line-height: 30px;
    margin-top: 30px;
    font-size: 16px;
  }
  .divcardarea {
    width: 400px;
    height: 250px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .cardarea {
    height: 300px;
  }
  .notfoundmessage {
    width: 350px;
    height: 150px;
    font-size: 25px;
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .formcontainer {
    width: 300px;
    border:1px solid red
  }
  .formselect {
    width: 70px;
    padding-right: 4px;
  }
  .inputstyle {
    width: 90px;
    padding-right: 0px;
  }
  .formbutton {
    width: 65px;
  }
  .formbutton:hover{
    padding-left: 2px;
  }
  .divcardarea {
    width: 300px;
  }
  .notfoundmessage {
    width: 250px;
    font-size: 20px;
  }
}
