html{
  height:100%
}
body {
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.596), rgba(2, 2, 2, 0.596)),
    url("./missing.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  z-index: -1;
}